@model IEnumerable<MUT_MODELS.GameResultModel>

@{
        ViewData["Title"] = "GetGameResult";
        Layout = "~/Views/Shared/_CoachLayout.cshtml"; }
    }

<h1>GetGameResult</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsForAwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointForHomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHomeWin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsForAwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointForHomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHomeWin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            }
    </tbody>
</table>
