@model IEnumerable<MUT_MODELS.PlayerAchievementModel>

@{
    ViewData["Title"] = "GetAllPlayerAchievements";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}

<h1>GetAllPlayerAchievements</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAwarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchievementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
           
        </tr>
}
    </tbody>
</table>
