@model IEnumerable<MUT_MODELS.TeamPlayerModel>

    @{
        ViewData["Title"] = "GetTeamPlayers";
        Layout = "~/Views/Shared/Student_Layout.cshtml";
    }

    <h1>GetTeamPlayers</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsCaptain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsViceCaptain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCaptain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsViceCaptain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
