@model IEnumerable<MUT_MODELS.StudentModel>

@{
    ViewData["Title"] = "StudentIndex";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}

<h1>StudentIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qualification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudyLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accomodation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextOfKinFullnames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextOfKinPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasMedicalAid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalAidNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayPicture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalAidCardPic)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accomodation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextOfKinFullnames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextOfKinPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasMedicalAid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicalAidNumber)
                    </td>

                    <td>
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.MedicalAidCardPic))" alt="#" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
